<html>
    <div class="well">
      <table class="table table-bordered table-hover">
      <tr class="table_header">
          <th>Name of Food</th>
          <th>Brand Name</th>
          <th>Serving Size</th>
          <th>Total Calories</th>
          <th>Fat(g)</th>
          <th>Carbs(g)</th>
          <th>Protein(g)</th>
          <th>Total (g)[macros]</th>
      </tr> 

  <% for (var i = 0; i< data.length; i++) { %>
      <tr>
          <td><%= data[i].food_name %></td>
          <td><%= data[i].brand %></td>
          <td><%= data[i].serving_size %></td>
          <td><%= data[i].total_calories %></td>
          <td><%= data[i].fat_grams %></td>
          <td><%= data[i].carbohydrate_grams %></td>
          <td><%= data[i].protein_grams %></td>
          <td><%= data[i].total_grams %></td>
      </tr>
    <% } %>
</html>